@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor01: hsl(215, 51%, 70%);
    --cor02: hsl(178, 100%, 50%);
    --cor03: hsl(217, 54%, 11%);
    --cor04: hsl(216, 50%, 16%);
    --cor05: hsl(215, 32%, 27%);
    --cor06: hsl(0, 0%, 100%);
}
body{
    min-height: 100vh;
    background-color: var(--cor03);
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
}
body, main{
   display:flex;
   justify-content: center;
   align-items: center;
}

main{
    width: 380px;
    height: 630px;
    background-color:hsla(215, 55%, 10%, 0.651);
    border-radius: 15px;
    margin: 15px;
}
section#card{
    width: 320px;
    height: 550px ;
    background-color: var(--cor04);
    border-radius: 15px;
    box-shadow: 15px 16px 1px rgba(0, 0, 0, 0.082);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
div#img{
    background: var(--cor05) url(images/image-equilibrium.jpg) center center no-repeat;
    background-size: cover;
    height: 265px;
    width: 275px;
    border-radius: 10px;   
}
section#conteudo .text-padrao{
    font-weight: 300;
    color: var(--cor01);
    padding: 25px 15px 5px 30px;   
}
section#conteudo h1{
    color: var(--cor06);
}
section#conteudo #linha{
    border: 1px solid var(--cor01);
    width: 277px;
    margin: auto;
}
.container, .icon{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 25px;  
}
.icon, p{
    padding-left: 5px;
    color: var(--cor01);
    font-weight: 700;
}
.color{
    color: var(--cor02);
}
.avatar{
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: 20px 10px 10px 25px; 
}
.avatar > img#avatar{
  width: 15%;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 5px; 

}
.avatar >p{
    font-weight: 300;
}
p:nth-child(3){
    color: var(--cor06);
}

