@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{

    --Red:hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --cinza: hsl(234, 12%, 34%);
    --Grayish: hsl(229, 6%, 66%);
    --Very: hsl(0, 0%, 98%);

    --font-padrao: 'Poppins', sans-serif;
}

body, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
body{
    min-height: 100vh;
    background-color: var(--Very);
    font-size: 15px;
    color: var(--Grayish);
    font-family: var(--font-padrao);
    
}
main {
    width: 450px;
    padding: 40px 10px 40px 10px;

}
header{
    padding:30px 15px 30px 15px;
    text-align: center;
}
header h1{
    font-weight: 200;
    color: var(--cinza);   
}
header h2{
    font-weight: 700;
    font-size: 2.1em;
    color: var(--cinza);
}
header p{
    font-size: 17px;
    font-weight: 400;
    line-height: 2em;
    padding: 30px 30px 10px 0px;   
}
.box{
    position: relative;
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 10px;  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.096);
    margin-bottom: 30px;
}
.box h2{
    color: var(--cinza);
    padding:20px 20px 10px 20px;
}
.box p{
    padding: 0px 0px 35px 20px;
}  
img{
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%);
} 
#supervisor{ 
    border-top: 5px solid var(--Cyan);
}
#team{
    border-top: 5px solid var(--Red);
}
#karma{
    border-top: 5px solid var(--Orange);
}
#calculator{
    border-top: 5px solid var(--Blue);
}