@charset "UFT-8";

*{
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
    --font-padrao: 'Hanken Grotesk', sans-serif;

    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);
    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);

    --White:hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
}

body{
    background-color: var(--White);
    min-height: 100vh;
    font-family: var(--font-padrao);
    font-size: 18px;
}
#header{
    min-width: 200px;
    min-height: 250px;
    background: linear-gradient(to bottom, var(--Lightslateblue), var(--Lightroyalblue));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 15px 15px 15px;
}
#header h1{
    color: white;
    font-weight: 700;
    padding-top: 10px;
}
#header p{
    color: var(--Lightlavender);
    text-align: center;
}
#circle{
    width: 100px;
    background:linear-gradient(to bottom, var(--Violetblue), var(--Persianblue));
    border-radius: 100%;   
    padding: 35px;
    margin-top: 10px;
}
#circle p:nth-child(1){
    color: white;
    font-size: 3em;
    font-weight: 600;
    padding-bottom: 10px;
}
