@charset "UFT-8";

*{
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
    --font-padrao: 'Hanken Grotesk', sans-serif;

    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);
    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);

    --White:hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
}

body{
    min-height: 100vh;
    background-color: var(--Paleblue);
    font-size: 18px;
    font-family: var(--font-padrao);
    display: flex;
}
main{
    background-color: var(--White);
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    background:linear-gradient( to bottom, var(--Lightslateblue), var(--Lightroyalblue));
    min-height: 400px;
    min-width: 200px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#header h1{
    font-size: 18px;
    font-weight: 700;
    color: var(--Lightlavender);   
}
#circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 20px;
    background:linear-gradient(to bottom, var(--Violetblue), var(--Persianblue))
}
#circle h2:nth-child(1){
    font-size: 3em;
    color: white;
    font-weight: 700;
    padding-top: 10px;
}
#circle > p{
    color:var(--Lightlavender);
    font-size: 15px;
    font-weight:700;
    padding-top: 5px;
    
}
#conteudo h2{
    color: white;
    font-weight: 700;
    padding-top: 10px;
}
#conteudo p{
    color: var(--Lightlavender);
    text-align: center;
    padding: 15px 25px 0px 25px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items:flex-start;
    gap: 30px;
    font-weight: 700;
}
#container h3{
    padding-top: 30px;  
}
.box{
    min-width: 410px;
    min-height: 60px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.096);
    background-color: aqua;
    /*display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly; */
    
}
.box > img, p{
    display: inline-block;
    text-align: center;
    padding-top: 15px;
   
}
#reaction{
    background-color: hsla(0, 100%, 67%, 0.082);
}
#memory{
    background-color: hsla(39, 100%, 56%, 0.048);

}
#verbal{
   background-color: hsla(166, 100%, 37%, 0.075); 
}
#visual{
  background-color: hsla(234, 85%, 45%, 0.075);
}
#button{
    width: 370px;
    padding:20px;
    color: white;
    text-align: center;
    background-color: var(--Darkgrayblue);
    border-radius: 50px;
    margin-bottom: 30px;
}
